<%- include("../partials/header") %> 


<div class="row justify-content-center">
    <div class="col-md-12 text-center">
        <h1>Add Compensation Info for <%= cyvictim.name %> </h1>
    </div>
    
    <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="form-login">
            <form action="/shelters/<%= shelter_id %>/cyvictims/<%= cyvictim._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="cyvictim[compensate]">Compensation Amount(in Rupees)</label>
                    <input class="form-control" type="text" name="cyvictim[compensate]" value="<%= cyvictim.compensate %>">
                </div>
                <div class="form-group">
                    <label for="cyvictim[isCompensated]">Compemsation Status</label>
                    <select name="cyvictim[isCompensated]">
                        <option hidden disabled selected value> -- select an option -- </option>
                        <option value="true">The Victim has been Compensated</option>
                        <option value="false">The Victim is yet to be Compensated</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <div class="col-md-12 text-center">
                <a href="/shelters/<%= shelter_id %>">Go Back</a>
            </div>
        </div>
    </div>
    
</div>

<%- include("../partials/footer") %> 
