<%- include("../partials/header") %> 

<% if (currentUser && currentUser.isAdmin) { %>
    <h2>You're an Admin!</h2>
<% } %>

<header class="jumbotron">
    <div class="container">
        <h1><i class="fas fa-campground"></i>Welcome to CyShelter!</h1>
        <p>A Cyclone Shelter Management Site...</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/shelters/new">Add New Cyclone Shelter</a>
            <a class="btn btn-primary btn-lg" href="/track">Track Cyclone Location</a>
        </p>
    </div>
    
</header>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <div class="col-md-12">
        <% if(noMatch != null){ %> 
            <h3> <%= noMatch %>  </h3>
            <% } %> 
        </div>
        <% shelters.forEach(shelter => { %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <img src="<%= shelter.image %>" class="card-img-top" alt="<%= shelter.name %>">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0"><%= shelter.name %></h5>
                        <a href="/shelters/<%= shelter._id %>" class="btn btn-primary">More Info</a>
                            
                    </div>
                </div>   
            </div>
            <% }) %>
        </div>
        
        
        <%- include("../partials/footer") %> 
        