<%- include("../partials/header") %> 
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-7">
                <h2>List of Cyclone Victims</h2>
            </div>
            <div class="col-md-5">
                <div class="float-left">
                    <form class="form-inline mt-2 mt-md-0" role="search" action="/shelters/<%= shelter._id %>/victims" method="GET">
                        <div class="form-group">
                            <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search Cyclone Victim..." aria-label="Search" style="border-radius: 5px;">
                        </div>
                        <button id="search-nav" type="submit" value="Search" class="btn btn-outline-success my-2 my-sm-0"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="float-right">
                    <a class="btn btn-success mb-2" href="/shelters/<%= shelter._id %>/cyvictims/new ">Add Cyclone Victim</a>
                    
                </div>
                
            </div>
        </div>
        
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <% if(noMatch != null){ %> 
                <h3> <%= noMatch %>  </h3>
                <% } %> 
        </div>
        <% cyvictims.forEach(cyvictim=>{ %>
            <div class="row">
                <div class="col-md-12 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="card text-white bg-info mb-3">
                                        <div class="card-header"><i class="fas fa-user"></i> <%= cyvictim.name %></div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <p class="card-text"><i class="fas fa-id-card"></i> <%= cyvictim.userID %></p>
                                                </div>
                                                <div class="col-lg-5">
                                                    <p class="card-text"><i class="fas fa-briefcase"></i> <%= cyvictim.occupation %></p>
                                                </div>
                                                <div class="col-lg-4">
                                                    <p class="card-text"><i class="fas fa-rupee-sign"></i> <%= cyvictim.compensate %></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <p class="card-text"><i class="fas fa-venus-mars"></i> <%= cyvictim.gender %></p>
                                                </div>
                                                
                                                <div class="col-lg-5">
                                                    <p class="card-text"><i class="fas fa-users"></i> <%= cyvictim.count %></p>
                                                </div>
                                                
                                                <div class="col-lg-4">
                                                    <p class="card-text">
                                                        <% if (cyvictim.isCompensated) { %>
                                                            <i class="fas fa-check-circle"></i> Compensated
                                                            <% } else { %>
                                                                <i class="fas fa-times-circle"></i> Not Compensated
                                                                <% } %> 
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-3">
                                                            <p class="card-text"><i class="fas fa-birthday-cake"></i> <%= cyvictim.age %></p>
                                                        </div>
                                                        <div class="col-lg-9">
                                                            <p class="card-text"><i class="fas fa-map-marked-alt"></i> <%= cyvictim.address %></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="float-right">
                                                <p>Added <%= moment(cyvictim.createdAt).fromNow()%></p> 
                                                <% if(currentUser && cyvictim.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                                    <div class="float-right">
                                                        <a href="/shelters/<%= shelter._id %>/cyvictims/<%= cyvictim._id %>/edit" class="btn btn-sm btn-warning mb-2">Edit Bio-Data</a>
                                                        <form class="delete-form" action="/shelters/<%= shelter._id %>/cyvictims/<%= cyvictim._id %>?_method=DELETE" method="post">
                                                            <input type="submit" value="Delete User" class="btn btn-sm btn-danger mb-2">
                                                        </form>
                                                        <a href="/shelters/<%= shelter._id %>/cyvictims/<%= cyvictim._id %>/compensate" class="btn btn-sm btn-warning mb-2">Create Compensation Ticket</a>
                                                    </div>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %> 
                    </div>
                    <nav aria-label="Page navigation">
                        <% if (pages && pages > 0) { %>
                        <ul class="pagination justify-content-center">
                            <% if (current == 1) { %>
                            <li class="page-item disabled"><a class="page-link">First</a></li>
                            <% } else { %>
                            <li><a class="page-link" href="/shelters/<%= shelter._id %>/victims<%if(search){%>?search=<%=search%><%}%>">First</a></li>
                            <% } %>
                     
                            <% if (current == 1) { %>
                            <li class="page-item disabled"><a class="page-link">«</a></li>
                            <% } else { %>
                            <li><a class="page-link" href="/shelters/<%= shelter._id %>/victims?page=<%= Number(current) - 1 %><%if(search){%>&search=<%=search%><%}%>">«</a></li>
                            <% } %>
                     
                            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                            <% if (i !== 1) { %>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                            <% } %>
                            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                            <% if (i == current) { %>
                            <li class="active"><a class="page-link"><%= i %></a></li>
                            <% } else { %>
                            <li><a class="page-link" href="/shelters/<%= shelter._id %>/victims?page=<%= i %><%if(search){%>&search=<%=search%><%}%>"><%= i %></a></li>
                            <% } %>
                            <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                            <% } %>
                            <% } %>
                     
                            <% if (current == pages) { %>
                            <li class="page-item disabled"><a class="page-link">»</a></li>
                            <% } else { %>
                            <li><a class="page-link" href="/shelters/<%= shelter._id %>/victims?page=<%= Number(current) + 1 %><%if(search){%>&search=<%=search%><%}%>">»</a></li>
                            <% } %>
                     
                            <% if (current == pages) { %>
                            <li class="page-item disabled"><a class="page-link">Last</a></li>
                            <% } else { %>
                            <li><a class="page-link" href="/shelters/<%= shelter._id %>/victims?page=<%= pages %><%if(search){%>&search=<%=search%><%}%>">Last</a></li>
                            <% } %>
                        </ul>
                        <% } %>
                    </nav>
</div>
<%- include("../partials/footer") %>     