<%- include("../partials/header") %> 

<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <li class="list-group-item active">Emergency Contact Information</li>
            <li class="list-group-item">+91-935-5511-433</li>
            <li class="list-group-item">+91-755-5414-278</li>
        </div>
        <hr>
        <div class="list-group">
            <% const mapsURI = campground.address.replace( /[\r\n]+/gm, "" ); %>
            <iframe width="350px" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=<%= mapsURI %>&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border-radius: 5px;"></iframe>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card mb-3">
            <img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.name %>">
            <div class="card-body">
                <h5 class="card-title"><%= campground.name %></h5>
                <p>
                    <em>Added and Managed by <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %></em>
                </p>
                <hr>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                        <div class="card bg-light">
                            <div class="card-header">Shelter Details</div>
                            <div class="card-body">
                                <h4 class="card-title" style="display:inline-block">
                                    Shelter Capacity
                                    <span class="badge badge-success">
                                        <p class="card-text" style="display:inline-block; padding:3px">
                                            <%= campground.capacity %> Pax 
                                        </p>
                                    </span>
                                </h4>
                                
                                <h4 class="card-title">
                                    Additional Info
                                </h4>
                                <p class="card-text" style="white-space: pre-line;margin-top: -20px;">
                                    <%= campground.description %> 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                        <div class="card bg-light">
                            <div class="card-header"> Shelter Full Address</div>
                            <div class="card-body">
                                <p class="card-text" style="white-space: pre-line; margin-top: -20px;">
                                    <%= campground.address %> 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin ){ %>
                    <a class="btn btn-warning mb-2" href="/campgrounds/<%= campground._id %>/edit">Edit Shelter Info</a>
                    <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
                        <button class="btn btn-danger mb-2">Delete Shelter</button>
                    </form>
                    <a class="btn btn-primary mb-2" href="/campgrounds/<%= campground._id %>/releif">Releif Planner</a>
                    <a class="btn btn-success mb-2" href="/campgrounds/<%= campground._id %>/victims ">Manage Cyclone Victims</a>
                    <% } %> 
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %> 
